<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<a href="{% url 'home' %}">Home</a>
<div class="container text-center">
<h1>About Me </h1>
<h2> you asked you get<br> a password generator created by meeeee</h2>
<p> Ta ratou kupu i reira ko te whenua kia whakawakia kia hokona, 
kia watea ratou i nga raruraru e homai ana e etahi iwi ki a ratou. 
He nui rapea nga korero mo nga rori, mo nga ruritanga hoki, 
mo te aha atu; otira ko te tino kupu tena, ko te whakawa, ko te hoko. 

E ngari me tino mohio ano te Muera ma ki nga ture he mea ia i hangaia hei 
painga hei oranga mo te katoa. Heoi te tikanga pai mo ratou, mo te Muera ma, ara
 " ko ta ratou e pai ana kia meatia mai e te tangata ki a ratou, 
 koia ano tena ka meatia e ratou ki te tangata," 
 a hei reira kitea ai e hara te ture i te mea whakamate i a ratou, 
 engari he mea hapai he mea whakaora i a ratou i runga i te ara pera me nga tikanga pera. </p>

 </div>
